# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.AnimeTrackingDemo.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
botToken.txt
howRunNgrok.txt
encodings.xml
indexLayout.xml
misc.xml
vcs.xml
